<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <!-- 引入 Element UI 样式 -->
    <link rel="stylesheet" href="../static/element-ui/lib/theme-chalk/index.css">
    <!-- 引入 Vue.js 和 Axios -->
    <script src="../static/js/vue.js"></script>
    <script src="../static/axios/dist/axios.js"></script>
    <!-- 引入 Element UI 组件库 -->
    <script src="../static/element-ui/lib/index.js"></script>
    <style>
        img{
            max-width: 100%;
            height: auto;
        }

        /* 让列表区块有一定的滚动效果 */
        .infinite-list {
            height: 80vh; /* 控制显示区域的高度 */
            overflow-y: auto;
            padding: 10px;
        }

        .infinite-list-item {
            margin-bottom: 10px;
        }

        .loading {
            text-align: center;
            padding: 20px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-aside>
            <div>
                <h1>
                    用户名 : [{ username }]
                </h1>
            </div>
            <el-form :model="form" :rules="rules" ref="form" label-width="100px" class="demo-ruleForm">
                <el-form-item label="旧密码" prop="oldPassword">
                    <el-input v-model="form.oldPassword" type="password"></el-input>
                </el-form-item>
                <el-form-item label="新密码" prop="newPassword">
                    <el-input v-model="form.newPassword" type="password"></el-input>
                </el-form-item>
                <el-form-item label="确认新密码" prop="confirmPassword">
                    <el-input v-model="form.confirmPassword" type="password"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm">提交</el-button>
                </el-form-item>
            </el-form>
        </el-aside>
        <el-main>
            <!-- 使用 v-infinite-scroll 实现无限滚动 -->
            <ul class="infinite-list" v-infinite-scroll="loadMoreData" infinite-scroll-disabled="loading"
                infinite-scroll-distance="10">
                <li v-for="(item, index) in resultUrls" :key="index" class="infinite-list-item">
                    <!-- 显示图片 -->
                    <img :src="'http://localhost:8000/' + item.url" alt="Image"/>
                </li>
                <div v-if="loading" class="loading">加载中...</div>
            </ul>
        </el-main>
    </el-container>
</div>
<script>
    let loginusername = sessionStorage.getItem('username')
    console.log(loginusername)
    const CHANGE_PASSWORD_URL = 'http://localhost:8000/changepassword/';

    new Vue({
        el: '#app',
        delimiters: ['[{', '}]'],
        data() {

            // 定义校验规则
            var validatePass2 = (rule, value, callback) => {
                if (value !== this.form.newPassword) {
                    callback(new Error('两次输入的密码不一致'));
                } else {
                    callback();
                }
            };
            return {
                resultUrls: [],  // 用于存储从后端获取的 result_url 数据
                loading: false,  // 用于控制是否正在加载数据
                page: 1,    // 当前加载的页面
                username: loginusername,
                form: {
                    oldPassword: '',
                    newPassword: '',
                    confirmPassword: ''
                },
                rules: {
                    oldPassword: [
                        {required: true, message: '请输入旧密码', trigger: 'blur'}
                    ],
                    newPassword: [
                        {required: true, message: '请输入新密码', trigger: 'blur'},
                        {min: 3, message: '密码长度至少3位', trigger: 'blur'}
                    ],
                    confirmPassword: [
                        {required: true, message: '请再次输入新密码', trigger: 'blur'},
                        {validator: validatePass2, trigger: 'blur'}
                    ]
                }
            };
        },
        methods: {
            submitForm() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        axios.post(CHANGE_PASSWORD_URL, {
                            username: this.username,
                            newPassword: this.form.newPassword,
                        }, {
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                            .then(response => {
                                if (response.data.status === 200) {
                                    console.log(response.data)
                                    this.$message({
                                        message: '密码修改成功',
                                        type: 'success'
                                    });
                                } else {
                                    this.$message({
                                        message: response.data.message || '服务器返回了未知错误',
                                        type: 'error'
                                    });
                                }
                            })
                            .catch(error => {
                                console.error('There was an error!', error);
                                this.$message({
                                    message: '请求失败，请检查您的网络连接或稍后再试。',
                                    type: 'error'
                                });
                            });
                    } else {
                        this.$message({
                            message: '请检查表单填写是否正确',
                            type: 'error'
                        });
                        return false;
                    }
                });
            },
            loadMoreData() {
                if (this.loading) return;  // 如果正在加载，则不触发新的加载请求  

                this.loading = true;  // 设置加载状态为 true  
                const username = sessionStorage.getItem('username');  // 只获取一次用户名  

                axios.get(`http://localhost:8000/imgList/?page=${this.page}`, {
                    params: {username}  // 使用 params 来传递查询参数  
                })
                    .then(res => {
                        if (res.data.status === 200) {
                            this.resultUrls.push(...res.data.data);  // 使用 spread 操作符追加新数据  
                            console.log("数据加载成功:", this.resultUrls);
                            this.page += 1;  // 增加页码，准备加载下一页数据  
                        } else {
                            console.error("获取数据失败:", res.data.message);
                            this.$message({
                                message: res.data.message || '加载数据失败',
                                type: 'error'
                            });
                        }
                    })
                    .catch(error => {
                        console.error("数据加载失败", error);
                        this.$message({
                            message: '网络错误，请稍后再试。',
                            type: 'error'
                        });
                    })
                    .finally(() => {
                        this.loading = false;  // 请求结束，设置加载状态为 false  
                    });
            },

            mounted() {
                // 页面加载时获取数据
                this.loadMoreData();
            }

        }
    });
</script>
</body>
</html>